<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.Status}} - {{.StatusText}}</title>
</head>
<body>
<h1>{{.Status}} - {{.StatusText}}</h1>
<h3>{{.Message}}</h3>
</body>
</html>
